/* Footer contact links w/ icons */

#socialmedia {
    font-size: x-large;
    text-align: center;
}

.footer {
    background-color: whitesmoke;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}


/* Footer Line divide */

footer hr {
    border: lightblue;
    border-style: solid;
    border-width: thin;
}