p {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: medium;
    margin-bottom: 60px;
}

h4 {
    text-align: center;
    line-height: 80px;
    font-weight: normal;
}

.masonry {
    column-gap: 1em;
    padding: 0;
    column-count: 3;
    font-size: .85em;
}

.item {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px 0 #ccc;
    /* align-content: center; */
}


/* Sets the size of max size of image */

.item img {
    width: 100%;
}

.item img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}


/* Once the screen width reaches a maxscreen width set or is within the parameters of screen width, the # of columns on screen will change accordingly */

@media only screen and (max-width: 320px) {
    .masonry {
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .masonry {
        column-count: 2;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .masonry {
        column-count: 3;
    }
}