nav {
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    /* display: inline-flex; */
    justify-content: end;
    padding: 3vw;
}

.nav-tabs {
    border: none;
    /* border-color: none; */
}

.navbutton:active {
    border: none;
    border-color: none;
}

.navbutton {
    /* display: block; */
    /* margin-left: inherit; */
    float: right;
    font-size: inherit;
    /* padding-left: 0; */
    /* display: inline-flex; */
    /* color: blue; */
    background-color: transparent;
    border: none;
    /* position: right !important; */
    /* justify-content: space-between; */float: inline-end;
}
.navbar{
    /* justify-content: space-evenly; */
}
.sme{
    justify-content: space-between;
    display: inline-flex;
}

.collapse {
    /* justify-content: end; */
    /* float:right; */
    /* display: inline-flex; */
    animation-name: initial;
    /* animation-direction: reverse; */
}

#searchOverlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    float:right;
    /* z-index: 3; */
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

#searchIcon img {
    /* background-image: url("../Images/search.png"); */
    /* font-size: inherit; */ width: inherit;
    height:  inherit;
    size: inherit;
    
    /* display: inline; */
}
.dropbtn{
    justify-content: space-around;
    display: inline-flex;
}


.searchbtn {
    /* font-size: inherit; */
    /* size: 20%; */
    /* height: 20px; */
    /* width: initial;
    height: initial;
   
    background-position: center;
    float: right ;
    font-size: inherit; */
    /* background-image: url("../Images/search.png"); */
    /* float: right; */
    height: 50px;
    width: 50px;
    float: right;
    position: absolute;
    /* display: block; */
    /* font-size: inherit; */
    
    /* padding-left: 0; */
    /* display: inline-flex; */
    /* color: blue; */
    background-color: transparent;
    border: none;
}
/* img{
    width: 50px;
    height:  50px;
} */

@media all and (max-width: 800px) {
    nav {
        position: absolute;
        top: 0px;
        right: 0;
        text-align: right;
        /* padding-top: 30px; */
    }
    nav.dropbtn {
        margin-top: 40px;
    }
    #navitems ul {
        flex-direction: column;
    }
    .nav {
        background-color: brown;
    }
    /* .nav-item{
        text-align: center;
        /* position: bottom; */
    /* }  */
}

/* .navbutton:active {
    border-color: none;
} */

/* .dropbtn .collapse:hover{
    display: block;
} */

li a {
    color: green;
}

a:hover {
    color: hotpink;
}

li a:active {
    background-color: brown;
}

li.dropdown {
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: max-content;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: gray;
    opacity: 0.5;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
}