nav {
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    /* background-color: whitesmoke; */
    font-family: 'Permanent Marker', cursive;
    font-size: medium;
}

html {
    scroll-behavior: smooth;
    /* overflow-y: scroll;
    scrollbar-arrow-color: darkturquoise;
    scrollbar-color: green;
    scrollbar-darkshadow-color: dimgrey;
    scroll-snap-type: proximity; */
    /* border-radius: 3vw; */
}


/* body {
    background-color: whitesmoke;
} */

.navbar-brand {
    font-size: 1.58vw;
}

.nav-tabs {
    border: none;
}

.navbar {
    /* display: flex; */
    padding: 2vw;
    background-color: whitesmoke;
}


/* Doesn't work. Should allow to change collor upon scroll */

.navbar.scrolled {
    background-color: whitesmoke;
}


/* /////////////////////////////////////////////////////// */

.navbutton:active {
    border: none;
    border-color: none;
}

.navbutton {
    float: right;
    font-size: inherit;
    background-color: transparent;
    border: none;
    /* float: inline-end; */
}

.collapse {
    animation-name: initial;
}

.dropbtn {
    justify-content: space-around;
    display: inline-flex;
}


/* Search bar icon and its overlay */

#overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
}

#searchIcon img {
    width: inherit;
    height: inherit;
    size: inherit;
}

.searchbtn {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
}


/* ////////////////////////////////////////////////////////////////REQUIRES EDITTING */

input[type=search] {
    width: 25%;
    box-sizing: border-box;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2vw;
    font-size: 2vw;
    background-color: whitesmoke;
    background-image: url("../Images/search.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    /* justify-content: center; */
    margin-top: 10vw;
    /* display: inline; */
}


/* When the input field gets focus, change its width to 100% */

input[type=search]:focus {
    width: 100%;
}


/* /////////////////////////////////////////////////////////////// */


/* Once the width of the window decreases past 800px changes will happen to the navbar and its contents*/

@media all and (max-width: 800px) {
    nav {
        position: absolute;
        /* top: 0px; */
        right: 0;
        text-align: right;
        /* display: inline; */
    }
    .navbar-brand {
        /* ADD ICON */
    }
    /* nav.dropbtn { */
    /* margin-top: auto;
        margin-right: 0;
        position: absolute;
        right: 0;
        top: 47px;
        text-align: right;
        padding: 20px 0;
        z-index: 5; */
    /* background: #6cbb23; */
    /* justify-content: end;
        align-content: flex-end;
        display: inline-end; */
    /* } */
    #navitems ul {
        flex-direction: column;
        text-align: end;
    }
    .nav {
        /* background-color: brown; */
        margin-right: 0;
        position: absolute;
        right: -30px;
        top: 46px;
        /* text-align: right; */
        padding: 20px 0;
        z-index: 5;
        background: whitesmoke;
        border-radius: 2vw;
    }
    /* .collapse {
        display: block;
    } */
    .jumbotron {
        margin: 100px;
        display: flex;
        padding: 0;
        justify-content: flex-end;
        margin: 50px;
    }
}


/* Navbar Items */

li a {
    color: inherit;
}

li a:hover {
    color: lightblue;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

li a:active {
    background-color: brown;
}

li.dropdown {
    display: inline-block;
}


/* Dropdown menu */

.dropdown-menu {
    /* display: none; */
    position: absolute;
    background-color: whitesmoke;
    /* border-radius: 2vw; */
    /* min-width: max-content; */
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    /* padding: 12px 16px; */
    /* text-decoration: none; */
    display: block;
    text-align: left;
}


/* .dropdown-menu a:hover {
    color: gray;
    opacity: 0.5;
    border-radius: 2vw;
} */

.dropdown:hover .dropdown-menu {
    display: block !important;
}


/* Floating Button */

.floatbtn {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    align-content: center;
    justify-content: center;
    display: inline-grid;
}

.jumbotron {
    background-color: white;
    display: inline-flex;
}

h2 {
    font-weight: 200;
}


/* shares the space with bob ross */

.share {
    display: grid;
    align-content: center;
    justify-content: center;
}