nav {
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    /* display: inline-flex; */
    justify-content: end;
    /* padding: 4vw; */
}

.nav-tabs {
    border: none;
    /* border-color: none; */
}

.navbutton:active {
    border: none;
    border-color: none;
}

.navbutton {
    /* display: block; */
    /* margin-left: inherit; */
    float: right ;
    font-size: inherit;
    /* display: inline-flex; */
    /* color: blue; */
    background-color: transparent;
    border: none;
    /* position: right !important; */
    /* justify-content: space-between; */
}
.collapse{
    /* justify-content: end; */
    /* float:right; */
    /* display: inline-flex; */
    animation-name: initial;
    /* animation-direction: reverse; */

}
/* button.navbutton:hover{
    display:inline-flex;
} */

@media all and (max-width: 800px) {
    nav {
        position: absolute;
        top: 0px;
        right: 0;
        text-align: right;
        /* padding-top: 30px; */

    }
    nav.dropbtn {
        margin-top: 40px;
    }

    #navitems ul {
        flex-direction: column;
    }
    .nav{
        background-color: brown;
    }
    /* .nav-item{
        text-align: center;
        /* position: bottom; */
    /* }  */
}

/* .navbutton:active {
    border-color: none;
} */

/* .dropbtn .collapse:hover{
    display: block;
} */

li a {
    color: green;
}

a:hover {
    color: hotpink;
}

li a:active {
    background-color: brown;
}

li.dropdown {
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: max-content;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: gray;
    opacity: 0.5;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
}
