body {
  background: #ecf0f1;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.login-box {
  width: 380px;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 25px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.form-control {
  width: 95%;
  box-sizing: border-box;
  padding: 5px;
  border: 2px solid #e9eaea;
  color: #3e3e40;
  font-size: 14px;
  margin: 10px;
  outline: none;
  transition: all 0.5s ease;
  border-radius: 2vw;
}

.btn {
    width: 95%;
    background-color: #34b3a0;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
}
